html,
body,
#app {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  overflow-y: auto; /* zorg dat scrollen kan */
}

.three-container {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
canvas {
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent; /* canvas zelf transparant, achtergrond komt van container/body */
}
