html,
body,
#app,
.three-container {
  margin: 0;
  padding: 0;
  width: 100vw !important;
  height: 100vh !important;
  overflow: hidden;
  background: black;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
